.btn{
    margin-top: 60px;
}
h1{
    font-size: 200px;
    border-radius: 50%;
    width: 300px;
    text-align: center;
    display: none;
    color: white;
}
.count{
    background-color: black;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    color: yellow;
}
.pink{
    color: pink;
}
.white{
    color: white;
}
button{
    margin-top: 10px;
}
.ans{
    margin:0;
}
.answers{
    display: none;
}
.collect{
    display: none;
}